
.jj { background: #800080; }
.ja { background: #40E0D0; }
.js { background: #F08080; }
.jd { background: #008080; }
.jf { background: #FFA500; }
.jg { background: #7B68EE; }
.jh { background: #6495ED; }
.jk { background: #D2691E; }
.jl { background: #008000; }
.jm { background: #F4A460; }
.jn { background: #808000; }
.jb { background: #800000; }
.jv { background: #DEB887; }
.jc { background: #BDB76B; }
.jx { background: #DDA0DD; }
.jz { background: #8FBC8F; }
.jq { background: #90EE90; }
.jw { background: #FF69B4; }
.je { background: #00FFFF; }
